{% extends 'base.html.twig' %}

{% block title %}Turbo Chat{% endblock %}

{% block body %}
	<div id="messages" {{ turbo_stream_listen('chat') }}>
		{% for message in messages %}
			{% include "chat/_message.html.twig" %}
		{% else %}
			<article id="no-messages" class="empty">
				<div>No message yet</div>
			</article>
		{% endfor %}
	</div>

	<turbo-frame id="message_form">
	    {% include "chat/_form.html.twig" %}
	</turbo-frame>
{% endblock %}
