{% extends 'base.html.twig' %}

{% block title %}Turbo Chat{% endblock %}

{% block body %}
	<div id="messages" {{ turbo_stream_listen('chat') }}>
		{% for message in messages %}
			<article class="secondary">{{ message.content }}</article>
		{% else %}
			<article id="no-messages" class="secondary">
				<div>No message yet</div>
			</article>
		{% endfor %}
	</div>

    {% include "chat/_form.html.twig" %}
{% endblock %}
